@import url('http://fonts.googleapis.com/css?family=Roboto:100,300,400|Roboto+Slab:300');
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
}
h1, h2, h3, h4, h5 {
  color: #3d3e44;
}
.navbar {
  background-color: #433349;
  background-image: none;
  border-radius: 0px;
}
.navbar .header {
  padding-left: 50px;
  margin-top: 24px;
}
.brand, .brand:hover {
  font-family: 'Roboto slab';
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.jumbotron {
  font-weight: 300;
  background-color: #433349;
  color: white;
  position: relative;
  padding-bottom: 6rem;
  border-radius: 0px;
}
.jumbotron .header {
  padding-left: 50px;
}
.jumbotron h1 {
  font-size: 46px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}
.jumbotron .subtitle {
  font-size: 20px;
}
.jumbotron strong {
  font-weight: 400;
}
.jumbotron .services {
  padding: 25px 0;
  font-size: 24px;
}
.jumbotron .services .col-lg-4 {
  padding: 0 50px;
}
.jumbotron .services .btn {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  word-wrap: break-word;
  white-space: normal;
}
.jumbotron .services .btn-primary,
.jumbotron .services .btn-primary:active,
.jumbotron .services .btn-primary:visited,
.jumbotron .services .btn-primary:focus {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.5);
  background-image: none;
}
.jumbotron .services .btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.jumbotron .services .btn-group {
  margin-top: 40px;
  max-width: 80%;
}
.row h2 {
  color: #433349;
  font-weight: bold;
}
.principles h5 {
  font-weight: bold;
  margin-top: 30px;
}
.about {
  padding: 40px 10px;
}
.about .description {
  margin-bottom: 20px;
}
.about h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
}
.about .register .mc-field-group {
  width: 100%;
}
.about .register .form-group {
  width: 100%;
  max-width: 400px;
  display: inline-block;
}
.about .register .form-group #mce-EMAIL {
  border: 2px solid #3b3b3b;
  border-radius: 5px;
  width: 100%;
  padding: 5px 13px 8px;
}
.about .register #mc-embedded-subscribe {
  color: white;
  background-color: #3b3b3b;
  border: none;
  border-radius: 5px;
  height: 44px;
  width: 130px;
  vertical-align: top;
  font-size: 16px;
}
.about .register input.mce_inline_error {
  border-color: red;
}
.about .register div.mce_inline_error {
  background: none !important;
  color: red !important;
  padding: 10px 0 !important;
  font-weight: normal !important;
  margin: 0 !important;
}
.about .register .response {
  margin: 10px 0 0 0;
}
.about .register .response#mce-success-response {
  color: green;
}
.about .register .response#mce-error-response {
  color: red;
}
.footer {
  font-size: 18px;
  color: white;
  background-color: #e0674a;
  line-height: 67px;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.footer p {
  margin: 0px !important;
}
.footer p i {
  margin-right: 5px;
}
.footer a {
  color: white;
}
.footer #languages {
  text-align: center;
  background-color: #3b3b3b;
  height: 48px;
  line-height: 3;
}
@media (max-width: 1200px) {
  .jumbotron .services .col-lg-4 {
    padding: 0 50px 20px;
  }
  .jumbotron .services .col-lg-4:last-child {
    padding: 0 50px 0px;
  }
}
@media (max-width: 500px) {
  .jumbotron h1 {
    font-size: 50px;
  }
  .jumbotron h2 {
    font-size: 28px;
  }
}
