<div class="k-pricing__calculator container-fluid">
  <div class="row">
    <div class="k-pricing__calculator__price col">
      <div class="k-pricing__calculator__value" data-i18n="pricing:prices.tier_1"></div>
      <div class="k-pricing__calculator__value-subtitle" data-i18n="pricing:prices.capital_social"></div>
    </div>
    <div class="k-pricing__calculator__description col">
      <p data-i18n="pricing:producers.description_1"></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="k-pricing__calculator__question" data-i18n="pricing:producers.question"></div>
      <div class="k-slider js-producers-slider">
        <div class="k-slider__line"></div>
        <div class="k-slider__dots">
          <div data-tier="1" class="k-slider__dot k-slider__dot--active">
            <span data-i18n="pricing:producers.dot_1"></span>
          </div>
          <div data-tier="2" class="k-slider__dot">
            <span data-i18n="pricing:producers.dot_2"></span>
          </div>
          <div data-tier="3" class="k-slider__dot">
            <span data-i18n="pricing:producers.dot_3"></span>
          </div>
          <div data-tier="4" class="k-slider__dot">
            <span data-i18n="pricing:producers.dot_4"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="k-pricing__button-wrapper">
        <a class="button" data-i18n="pricing:try_it" href="https://app.katuma.org/register">Prova-ho</a>
        <small data-i18n="pricing:one_month_trial"></small>
        <small data-i18n="pricing:vat_not_included"></small>
      </div>
    </div>
  </div>
</div>
