<div class="k-faq" style="margin-top: 100px">
  <h4 data-i18n="faq:header.slogan"></h4>

  <p class="k-faq__question" data-i18n="faq:who_must_be_member.q"></p>
  <p class="k-faq__answer" data-i18n="faq:who_must_be_member.a"></p>

  <p class="k-faq__question" data-i18n="faq:who_pays_fees.q"></p>
  <p class="k-faq__answer" data-i18n="faq:who_pays_fees.a"></p>

  <p class="k-faq__question" data-i18n="faq:sell_only_to_one_group.q"></p>
  <p class="k-faq__answer" data-i18n="faq:sell_only_to_one_group.a"></p>

  <p class="k-faq__question" data-i18n="faq:change_tiers.q"></p>
  <p class="k-faq__answer" data-i18n="faq:change_tiers.a"></p>

  <p class="k-faq__question" data-i18n="faq:free_software.q"></p>
  <p class="k-faq__answer" data-i18n="faq:free_software.a"></p>

  <p class="k-faq__question" data-i18n="faq:money_katuma.q"></p>
  <p class="k-faq__answer" data-i18n="faq:money_katuma.a"></p>

  <p class="k-faq__question" data-i18n="faq:non_profit.q"></p>
  <p class="k-faq__answer" data-i18n="faq:non_profit.a"></p>

  <p class="k-faq__question" data-i18n="pricing:faq.more_questions"></p>
  <p class="k-faq__answer" data-i18n="pricing:faq.write_us"></p>
</div>

