<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-1 list">
        <a class="navbar-brand" href="#">Katuma</a>
        <div class="coopdevs">
          <p data-i18n="footer.developed.title">Impulsat per</p>
          <a href="http://coopdevs.org">
            <img width="300" height="53.18" src="http://community.coopdevs.org/uploads/default/original/1X/8e49765a99d2ec95fde8d5f51468a3553226dcd0.png"/>
          </a>
        </div>
      </div>
      <div class="col-lg-3 offset-1 offset-md-0 list">
        <h5 data-i18n="footer.about.title">Nosaltres</h5>
        <div>
          <a href="https://github.com/coopdevs">
            <i class="fa fa-github"></i> <span data-i18n="footer.about.github">Katuma és codi lliure</span>
          </a>
        </div>
        <div>
          <a href="https://twitter.com/katuma_org">
            <i class="fa fa-twitter"></i> <span data-i18n="footer.about.twitter">Segueix-nos a Twitter</span>
          </a>
        </div>
        <div>
          <a href="https://www.facebook.com/katumaorg/">
            <i class="fa fa-facebook"></i> <span data-i18n="footer.about.facebook">Segueix-nos a Facebook</span>
          </a>
        </div>
        <div>
          <a href="http://community.coopdevs.org/tags/katuma">
            <i class="fa fa-envelope"></i> <span data-i18n="footer.about.contact">Contacta amb nosaltres</span>
          </a>
        </div>
      </div>
      <div id="languages" class="col-lg-3 offset-1 offset-md-0 list">
        <h5 data-i18n="footer.languages.title">Idiomes</h5>
        <div>
          <a href="#" language="en">English</a>
        </div>
        <div>
          <a href="#" language="ca">Català</a>
        </div>
        <div>
          <a href="#" language="es">Español</a>
        </div>
      </div>
    </div>
  </div>
</div>
