<div class="jumbotron">
  <div class="container">
    <div class="row header">
      <div class="col-lg-6">
        <h1 class="slogan" data-i18n="header.slogan">Compra directament a productores de proximitat</h1>
        <p class="subtitle" data-i18n="header.subtitle">
        Consumeix productes de proximitat i participa d'un model sostenible amb beneficis socioeconòmics per a la comunitat.
        </p>
        <a class="button negative-button" data-i18n="[html]header.button" href="http://forms.coopdevs.org/index.php?r=survey/index&sid=549217&lang=ca">Fes-te soci</a>
      </div>
    </div>
  </div>
</div>
</div>
