<div class="jumbotron">
  <div class="container">
    <div class="row header">
      <div class="col-lg-6">
        <h1 class="slogan" data-i18n="header.slogan">Compra directament a productores de proximitat</h1>
        <p class="subtitle" data-i18n="header.subtitle">
        Consumeix productes de proximitat i participa d'un model sostenible amb beneficis socioeconòmics per a la comunitat.
        </p>
        <a onClick="trackOutboundLink('boton', 'click', 'Matchfunding2018-hero','https://www.goteo.org/project/katuma'); return false;" class="button negative-button" data-i18n="[html]header.button" href="https://www.goteo.org/project/katuma">Fes-te mecenes</a>
      </div>
    </div>
  </div>
</div>
</div>
