<div class="sponsor-modal modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="sponsorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h2 data-i18n="sponsors:matchfunding_modal.title">Gràcies!</h2>
          <p data-i18n="[html]sponsors:matchfunding_modal.body">Aquestes són les 103 persones i entitats que amb el seu suport han fet de la campanya <a href="">"Katuma: Fem fàcil el consum de productes de proximitat"</a>, a través de Goteo i amb el finançament de l'ajuntament de Barcelona, un èxit rotund. Amb un objectiu de 6.000 €, es van assolir 9.711 €!</p>
        </div>
        <div class="container">
          <h3 data-i18n="sponsors:matchfunding_modal.donors_title">Donants</h3>
          <div class="row">
            <div class="col-sm-4">
              <ul>
                <li class="small">Adrià Heredia Rius</li>
                <li class="small">Adrian</li>
                <li class="small">Agnès</li> <li class="small">Albert Gerard Ventura Tejerina</li> <li class="small">Kirsten Larsen</li>
                <li class="small">Carol Mathews</li>
                <li class="small">Myriam</li>
                <li class="small">Carles Fabregat</li>
                <li class="small">Andrea M</li>
                <li class="small">Andres Gutierrez Gonzalez</li>
                <li class="small">Anna Anglí Piera</li>
                <li class="small">Wake</li>
                <li class="small">Aurora Morales</li>
                <li class="small">Bart Grugeon Plana</li>
                <li class="small">Carles López Bustins</li>
                <li class="small">César López</li>
                <li class="small">Daniel Puga Barceló</li>
                <li class="small">David Esteve Lopez</li>
                <li class="small">David Palau Zaidín</li>
                <li class="small">Marc</li>
                <li class="small">dvdgmz</li>
                <li class="small">Eduard Frias Sánchez</li>
                <li class="small">esenabre</li>
                <li class="small">Esmeralda Pérez Ortega</li>
                <li class="small">Esteban Zungri Sijan</li>
                <li class="small">Eugeni Chafer</li>
                <li class="small">Chary Rodriguez</li>
                <li class="small">EUGENIA MANZANARES MESTRE</li>
                <li class="small">Daniel Palomar</li>
                <li class="small">Ferran Basora</li>
                <li class="small">Francisco José</li>
                <li class="small">François Turbelin</li>
                <li class="small">Guillem FJ</li>
                <li class="small">HEIM</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li class="small">Edu</li>
                <li class="small">Fina</li>
                <li class="small">Ignasi Busquets</li>
                <li class="small">Inés Cases Pérez</li>
                <li class="small">carlosramiro</li>
                <li class="small">Jordi Buj</li>
                <li class="small">Jordi Isidro Llobet</li>
                <li class="small">Jordi Romero</li>
                <li class="small">Jordi Vargas</li>
                <li class="small">Jorge Morante</li>
                <li class="small">Jose Fernandez</li>
                <li class="small">José Fernando</li>
                <li class="small">Josep Lluis Fernandez Rincon</li>
                <li class="small">Josep Pitarque Narejos</li>
                <li class="small">Juanjo Tarrés</li>
                <li class="small">juanjochi</li>
                <li class="small">judit</li>
                <li class="small">kriker</li>
                <li class="small">Lamedina Cooperativa Andaluza</li>
                <li class="small">Clara Pérez Fabregat</li>
                <li class="small">LauDave</li>
                <li class="small">Lendi</li>
                <li class="small">Ferran Reyes</li>
                <li class="small">LordBenit</li>
                <li class="small">Luis Ramos</li>
                <li class="small">Marc</li>
                <li class="small">Marc Molins</li>
                <li class="small">maria mota santos</li>
                <li class="small">Marina Renau</li>
                <li class="small">Marina Ribes Huertas</li>
                <li class="small">Ricard Jornet Ginestà</li>
                <li class="small">Marti</li>
                <li class="small">Adrià Garcia I Mateu</li>
                <li class="small">Mercè Fabregat</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li class="small">Juan Hernández</li>
                <li class="small">Miquel Expósito Pérez</li>
                <li class="small">Nadal Soler</li>
                <li class="small">Nèstor</li>
                <li class="small">Nuria Vega</li>
                <li class="small">Oriol Molinas</li>
                <li class="small">Oscar Casanovas</li>
                <li class="small">Joan Devis Ortega</li>
                <li class="small">Arròs Tramuntana</li>
                <li class="small">Pamela Pérez Masferrer</li>
                <li class="small">Patrícia</li>
                <li class="small">Pau</li>
                <li class="small">Pau Carrio Gaspar</li>
                <li class="small">Pau Nadeu</li>
                <li class="small">Fernando Garcia</li>
                <li class="small">Pau Ramon Revilla</li>
                <li class="small">Rachel Arnould</li>
                <li class="small">ricardespelt</li>
                <li class="small">Fran</li>
                <li class="small">Roberto</li>
                <li class="small">Rubén Palomar Rodríguez</li>
                <li class="small">Ruben Suriñach Padilla</li>
                <li class="small">Sara Rock</li>
                <li class="small">SERGI DIAZ RAMIREZ</li>
                <li class="small">Sergio Alonso</li>
                <li class="small">Montserrat Fabregat Torrents</li>
                <li class="small">Sergio Casanueva López</li>
                <li class="small">Tal Rabinovich</li>
                <li class="small">Tres Cadires SCCL</li>
                <li class="small">Víctor Giménez</li>
                <li class="small">Francesco Tamagni</li>
                <li class="small">Goodkey Chacaloto</li>
                <li class="small">Wouter Tebbens</li>
                <li class="small">xavipalos</li>
                <li class="small">Yordy Phastor</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
