<div class="sponsors">
  <div class="col-lg-10 offset-md-1">
    <h3 class="subheader text-center" data-i18n="sponsors.title">Amb el suport de</h3>
    <div class="sponsors-wrapper container">
      <div class="row">
        <div class="sponsor-logo">
          <img alt="Aresta" src='{{ "/assets/img/logo_aresta.jpg" | prepend:site.baseurl }}' />
        </div>
        <div class="sponsor-logo">
          <img alt="Conreu sereny" src='{{ "/assets/img/logo_conreu_sereny.jpg" | prepend:site.baseurl }}' />
        </div>
        <div class="sponsor-logo">
          <img alt="Desvestint aliments" src='{{ "/assets/img/logo_desvestint_aliments.jpg" | prepend:site.baseurl }}' />
        </div>
        <div class="sponsor-logo">
          <img alt="30 panxes" src='{{ "/assets/img/logo_30_panxes.jpg" | prepend:site.baseurl }}' />
        </div>
      </div>
    </div>

    <p class="container col-lg-6 offset-md-3 text-center" data-i18n="[html]sponsors.body">Moltes gràcies també a les <a href="" data-toggle="modal" data-target="#sponsorModal">103 persones i entitats</a> que han fet possible que la campanya de micromecenatge <a target="_blank" href="https://www.goteo.org/project/katuma">"Katuma: Fem fàcil el consum de productes de proximitat"</a> fos un èxit.</p>
  </div>
</div>
