body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;

  @for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
      @if $i == 2 {
        font-weight: bold;
      }
      color: $secondary-color;
      line-height: 1.2em;
      margin-bottom: 1rem;
    }
  }

  a, a:hover {
    color: $tertiary-color;
  }
}
