.k-pricing {
  &__tabs-wrapper {
    padding: 30px 0;
  }

  &__calculator {
    & {
      margin: 30px 0;
      border: 2px solid $primary-light-color;
      border-radius: 6px;
      padding: 30px;
      color: $text-color;
    }

    &__price {
      height: 130px;
    }

    &__description {
      height: 130px;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
      text-align: center;
    }

    &__value {
      color: $secondary-color;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }

    &__value-subtitle {
      font-size: 12px;
      text-align: center;
    }

    &__question {
      text-align: center;
    }
  }

  &__button-wrapper {
    & {
      margin-top: 20px;
      text-align: center;
    }

    small {
      display: block;
      font-size: 12px;
    }

    small:last-child {
       line-height: .5rem;
    }
  }
}
